body {
    background-color: #eac0d5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #800080;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    font-size: 1.5em;
    margin: 10px 0 20px;
}

.heart {
    width: 100px;
    height: 100px;
    background-color: #ff007f;
    position: relative;
    transform: rotate(-45deg);
    animation: heartbeat 1s infinite;
    margin: 0 auto;
}

.heart::before,
.heart::after {
    content: "";
    width: 100px;
    height: 100px;
    background-color: #ff007f;
    border-radius: 50%;
    position: absolute;
}

.heart::before {
    top: -50px;
    left: 0;
}

.heart::after {
    left: 50px;
    top: 0;
}

@keyframes heartbeat {
    0%, 100% {
        transform: scale(1) rotate(-45deg);
    }
    25% {
        transform: scale(1.1) rotate(-45deg);
    }
    50% {
        transform: scale(1) rotate(-45deg);
    }
    75% {
        transform: scale(1.1) rotate(-45deg);
    }
}
